<p>Dear Webmunk Study Participant,</p>

<p>
	This email contains the next steps to receive full compensation for your participation in the research study.
	You have outstanding tasks to complete. 
</p>

<p>
	Please open your Webmunk extension from the browser and click the links to complete the pending tasks.
</p>

<p>
	To access your tasks, please click the extension icon on the top-right corner of your browser.
	If you don’t see it, it may be hidden under the puzzle icon, which is visible in the upper right corner of the screenshot below.
</p>

<img src="https://enroll.webmunk.org/static/enrollment/reminders/image001.jpg" alt="Webmunk Extension Location" style="max-width: 50%; border: thin solid black;">

<p>
	After clicking on the Study Browser Extension, a pop-up window should appear.
	If it does not, it may be hidden behind another browser window. 
</p>

<img src="https://enroll.webmunk.org/static/enrollment/reminders/image002.png" alt="Webmunk Extension Location" style="max-width: 50%; border: thin solid black;">

<p>
	Once you have completed all of the required tasks, we will email you your gift card from GiftBit (<a href="mailto:gifts@giftbit.com">gifts@giftbit.com</a>).
<p>

<p>
	If you have questions about the study or need technical support, please contact the Webmunk team at <a href="mailto:webmunk_study@hbs.edu">webmunk_study@hbs.edu</a>.
</p>

<p>
	Thank you!
<p>

<p>
	<i>The Webmunk Team</i>
<p>

<p>
	P.S. To unsubscribe from future reminders, visit <a href="{{ unsubscribe }}">{{ unsubscribe }}<a/>
</p>