{% load static %}
{% load tz %}
{% load webmunk_enrollments %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>ASIN Lookup | Webmunk</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'enrollment/vendor/css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'enrollment/vendor/css/bootstrap-table.css' %}" rel="stylesheet">

		<!-- Favicons -->
		<meta name="theme-color" content="#7952b3">
		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}

			/* Show it's not fixed to the top */
			body {
				min-height: 75rem;
			}
			
			.navbar a {
				color: white;
				text-decoration: none;
			}

			.navbar a:hover {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
			<div class="container">
    			<a class="navbar-brand" href="#">ASIN Lookup</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse"></div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" id="action_upload_purchases">Upload Rewards</a></li>
					<li class="ps-3 pe-3 text-light">&bull;</li>
					<li><a href="{% url 'create_asin_lookup' %}">ASIN Lookup</a></li>
					<li class="ps-3 pe-3 text-light">&bull;</li>
					<li><a href="{% url 'simple_data_export_form' %}">Export Data Files</a></li>
					<li class="ps-3 pe-3 text-light">&bull;</li>
					<li><a href="{% url 'enrollments_txt' %}">Download CSV</a></li>
				</ul>
    		</div>
		</nav>

		<main class="container">
		  <div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				{% if message %}
					<div class="alert alert-primary" role="alert">{{ message }}</div>
				{% endif %}
			
				<form action="{% url 'create_asin_lookup' %}" method="POST">
					{% csrf_token %}

					<div class="form-group mb-3">
						<label for="asin_field">Please enter one ASIN per line:</label>
						<textarea class="form-control mt-2" id="asin_field" name="asins" rows="12"></textarea>
					</div>

					<div class="form-group mb-3">
						<div class="form-check">
						  <input class="form-check-input" type="checkbox" value="on" name="upload_to_bucket" id="upload_to_bucket" checked>
						  <label class="form-check-label" for="flexCheckChecked">
							Upload to Amazon S3 bucket
						  </label>
						</div>
					</div>
				
					<div class="form-row">
						<button type="submit" class="btn btn-primary mb-2">Request Lookup</button>
					</div>
				</form>
			</div>
			<div class="col-sm-3"></div>
		  </div>
				

			<form action="{% url 'enrollment_upload_rewards' %}" id="upload_purchases" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="file_upload" id="purchases_csv" style="display: none;" "accept=".csv" />
			</form>
		</main>
		<script src="{% static 'enrollment/vendor/js/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
		<script src="{% static 'enrollment/vendor/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
		
		<script>
			function selectFormatter(value, row, index, field) {
				let returnHtml = '' // '<span>' + value + '</span>'
				
				returnHtml += '<select class="form-select form-select-sm group_selector" id="group_' + row.identifier + '" style="width: auto;">'
				returnHtml += '  <option>(None)</option>'
									
				{% for group in groups %}
					returnHtml += '  <option value="{{ group.name }}"'
					
					if ('{{ group.name }}' == value) {
						returnHtml += ' selected' 
					}
					
					returnHtml += '>{{ group.name }}</option>'
				{% endfor %}

				returnHtml += '</select>'
				
				return returnHtml
			}
			
			function attachListeners() {
				$('.group_selector').off('change')
				
				$('.group_selector').change(function(eventObj) {
					const selector = $(this)
					
					const identifier = selector.attr('id').replace('group_', '')
					const value = selector.children('option:selected').text()
					
					selector.attr('disabled', true)

					$.post({
						'url': '{% url "update_group" %}', 
						'data': {
							'identifier': identifier,
							'group': value
						},'headers': {
							'X-CSRFToken': '{{ csrf_token }}'
						}, 'success': function(data) {
						  	$("#enrollment_table").bootstrapTable('updateCellByUniqueId', {
								id: identifier,
								field: 'group',
								value: value,
								reinit: false
							})
							
							selector.removeAttr('disabled')
						}, 'error': function(jqXHR, textStatus, errorThrown) {
							alert('Unable to update group for ' + identifier + ': ' + errorThrown)
						}
					})
				})
			}
			
			$(document).ready(function() {
				window.setTimeout(attachListeners, 500)
				
				$('#action_upload_purchases').click(function(eventObj) {
					eventObj.preventDefault()

					$('input#purchases_csv').trigger('click')
  				})

				$('input#purchases_csv').change(function () {
					$('form#upload_purchases').submit()
				})

				$('form#upload_purchases').submit(function () {
					const data = new FormData()

					const formData = $(this).serializeArray()

					$.each(formData, function (key, input) {
					  data.append(input.name, input.value)
					})

					const fileData = $('input#purchases_csv')[0].files

					for (let i = 0; i < fileData.length; i++) {
					  data.append('purchase_upload', fileData[i])
					}

					if (confirm('Upload rewards?')) {
					  $.ajax({
						url: $(this).attr('action'),
						method: 'post',
						processData: false,
						contentType: false,
						enctype: 'multipart/form-data',
						data: data,
						success: function (data) {
						  alert(data.message)
						},
						error: function (e) {
						  console.log(e)
						  alert('An error was encountered uploading: Server Error ' + e.status)
						}
					  })
					}
	
					return false
				})
			})
		</script>
		<script src="{% static 'enrollment/vendor/js/bootstrap-table.js' %}" crossorigin="anonymous"></script>
	</body>
</html>
